*{
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #000000;
}

@keyframes blink{
	0%{background-color: #ff0000;}
	50%{background-color: #d4ff00;}
	100%{background-color: #ff0000;}
}

window#waybar {
	background-color: transparent;

}

#memory,
#temperature,
#cpu{
	background-color: rgba(255, 179, 0, 0.5);
	padding:2 10px;
	border-radius: 15px;
	margin:5 2px;
}

#clock,
#workspaces {
	background-color: rgba(145, 255, 0, 0.6);
	padding:2 10px;
	border-radius: 15px;
	margin:5 2px;
}

#pulseaudio,
#network,
#battery{
	background-color: rgba(0, 165, 255, 0.5);
	padding:2 10px;
	border-radius: 15px;
	margin:5 2px;
}

#workspaces button {
	border-radius: 15px;
	padding:0 4px;
	margin:2 2px;
	border: none;
}

button:hover {
	background: inherit;
}

#workspaces button.focused {
	background-color: rgba(91, 138, 29, 0.5);
}

#workspace button.urgent {
	background-color: #ff0000;
}

#battery.charging {
	background-color: #00ff2f;
}

#battery.plugged {
	background-color: #ff9d00;
}

#network.disconnected {
	background-color: #eaff00;
}

#pulseaudio.muted {
	background-color: rgba(0, 165, 255, 1);
}

#temperature.critical {
	animation:blink 0.2s infinite;
}

#memory {margin-left: 5px;}

#battery {margin-right: 5px;}
