* {
	border-style:none;
	outline:none;
}

#window {
	background-color: transparent;
	font-size: 20px;
}

#outer-box {
	background-color: #333;
	border-radius: 15px;
	border: 2px solid #008cff;

}

#input {
	margin: 10 10px;
	border-radius: 10px;
	border: none;
	background-color: rgba(255, 255, 255, 0.3);
	color: #91f2da;
}

#scroll {
	color: #a1a1a1;
	padding: 10 25px;
}

#entry:selected {
	border-radius: 50px;
	border: none;
	border-style:none;
	background-color: rgba(255, 255, 255, 0.4);
}

#entry {
	padding-left: 30px;
}

#text:selected {
	color: #00ffc0;
}
